<header class="w-full px-4 py-4 bg-white text-orange-400 shadow border-b border-gray-300 top-0">
    <div class="max-w-screen-xl mx-auto flex items-center justify-between">
        <a href="/" class="hover:cursor-pointer">
            <div class="flex space-x-1">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-7 fill-orange-500">
                    <title>NEXON</title>
                    <path d="M10.714 15.358V0L0 5.697v15.358L13.29 24 24 18.303zm-9.495-1.219 7.291 1.568-7.291 3.832zm11.895 8.578L2.35 20.327l7.454-3.926 10.846 2.406z"/>
                </svg>
                <h1 class="text-xl font-medium">JinSoo's Nexon API Caller</h1>
            </div>
        </a>
        <!-- 메뉴 네비게이션 주석 처리, 필요 시 오픈 -->
        <!--<nav class="space-x-4 p-2 text-sm border border-2 rounded-lg bg-gray-50">-->
        <!--    <a href="/" class="hover:underline hover:text-orange-600">Home</a>-->
        <!--    <a href="/" class="hover:underline hover:text-orange-600">Menu1</a>-->
        <!--    <a href="/" class="hover:underline hover:text-orange-600">Menu2</a>-->
        <!--</nav>-->
    </div>
</header>